<!DOCTYPE HTML>
<html>



<head>
	<link rel="stylesheet" type="text/css" href="styles.css"> 
 
	
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





	<title>
ACCOMODATION
</title>



<style>



@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kavoon&display=swap');


@import url('https://fonts.googleapis.com/css?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');


@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

#particles-js {
		background-color:black;
	   
		   position: fixed;
		   z-index: -1;
		   width: 100%;
		   height:100%;
	   
	 
		top: 0;
		left: 0;
	}

.neons h1{
   margin-top: 10rem;
   text-align: center;
}

a{
	text-decoration: none;
}


ul{
    list-style-type: circle;
}

li{
    font-family: Geo;
    color:white;
    font-size: 40px;
    list-style-type:circle;
}
.neons h1 {
  font-size: 120px;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: black ;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  /*text-shadow:0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 1 90px #ff0000;*/}
  to {
     color:#b7b7b7;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  /* text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 1 90px #ff0000;*/
  }
}


.content{


    padding:25px;
    border:5px solid white;
    border-radius: 30px;
    margin:25px;
}
	.back
	{
		background-image: url("kre.jpg");
		background-size: 100%;
		height: 100vh;

	background-repeat: repeat;


	}

h3{
	color:white;
	text-align: center;
	font-family: Geo;
	text-align: left;
	font-size: 50px;
}

.container
{

	padding:10px;
	background-color:none;
	border-radius: 25px;
	border:7px solid white;
}

h2{
font-family: Shojumaru;
font-size:40px;
padding:30px;


color:white;
}
td{

	color:white;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  font-family: Shojumaru;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color:whitesmoke; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin:auto;
}
p{
	font-family:Acme;
	font-size: 50px;
	color:white;
}

.reg{

	background-color:none;
	border:7px solid white;
	padding:10px;
	border-radius:30px;

}

dt,dd{
font-size: 40px;
color:white;
}

h1{

	text-align: center;
	color:white;
	font-family: Shojumaru;
	font-size: 80px;
	padding:40px;
}

table{
	margin:auto;
	border:4px solid white;
	border-radius: 25px;
	background-color: rgb(169,169,169);
}

td{
	font-family: Shojumaru;
	font-size: 40px;
}
</style>



	<body class="back">

		<div id="particles-js">
		</div>
		<script type="text/javascript" src="particles/particles.min.js"></script>
		<script type="text/javascript" src="particles/app.js"></script>	
		
		<div class="content">
<h1>ACCOMODATION</h1>
<form action="/accomodation" method="post">
    <div style="display:none;">
      <input type="text" name="accom" value="1" />
      </div>
  <button    class="button" style="right:100px;">BOOK ACCOMODATION</a></button>
  </form>
<br><br>
<li>Pricing: ₹1500 per person </li>

    
           <li> INCLUSION:<ul>
        <li>In-campus 6D/6N accommodation</li>
        <li>
            Entry to all TED-TALKS(Yes,you don't need to pay for TED-TALKS)
        </li>
        <li>
            50% Discount on all Events
        </li></ul></li>

<li><strong>
    TERMS AND CONDITIONS:
</strong><ul>
    <li><strong>Registration Procedure:</strong> The payment procedure will be on-spot. But you have to first pre-book for the accomodation.</li>
</ul></li>
    
<li><strong>



    DOCUMENTS REQUIRED:
</strong><ul>
    <li>Any valid Govt photo ID</li>
    <li>
        Print out of Email confirmation
    </li>
    <li>
        Gate pass
    </li>
    <li>
        Valid College ID for participants
    </li>
</ul>It is mandatory for all guest participants to carry college and government IDs. This is for your own convenience. Moreover, you will be asked to produce your ID cards at the time of allotment of rooms.
</li>
           
<br><br>
<li><strong>
    Check-In and Check-out Timings:
</strong><ul>
    <li>Check-In - Anytime after 13th Feb, 2020, 7:00 PM</li>
    <li>
        Check Out - on or before 17th Feb, 2020,10:00 AM
    </li>
</ul></li>

<br>
<li>
   <strong>Food Facilities: </strong>&emsp;Guests can purchase their meals from various food stalls available in and around campus.
**Accommodation charges does not include any meals and can be purchased at your own expenses
</li>
<br>
<li>
  <strong>  Security Facilities:</strong>&emsp; IIITM Gwalior campus has a vigilant and round-the-clock security service. There will be additional security to avoid thefts and other mishaps. However, the Institute and the management will not be responsible for any theft, loss of belongings and mishaps. Guests are advised not to carry any valuable items unless absolutely necessary and will be solely responsible for any loss of property.

</li>
<br><br>
<li><strong>
    Code Of Conduct:
</strong><ul>
    <li>If a participant engages in harassing behavior, the organizers may take any action they deem appropriate. This includes warning the offender, expulsion from the venue with no refund (if applicable), or reporting their behaviour to local law enforcement. Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, nationality, religion or political views, sexual images in public spaces, deliberate intimidation, stalking, following, photography or audio/video recording against reasonable consent, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the organizing committee immediately. Organizers will be happy to help participants contact any local security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the festival. We value your attendance.</li>
</ul></li>
        
</div>
	</body></html>