<!DOCTYPE HTML>


<html>

<head>
	<link rel="stylesheet" type="text/css"  href="styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kavoon&display=swap');


@import url('https://fonts.googleapis.com/css?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');



@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.neons h1{
   margin-top: 10rem;
   text-align: center;
}

.fa {
	top:0;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color:white;
  float:left;
}

.fa:hover {
    opacity: 0.7;
}

.neons h3 {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  font-color:white;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
font-family:Shojumaru;
}

.neons h1 {
  font-size: 120px;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: black ;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  /*text-shadow:0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 1 90px #ff0000;*/}
  to {
     color:#b7b7b7;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  /* text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 1 90px #ff0000;*/
  }
}

.query{
    position:absolute;
    right:0;
    font-family: Oswald;
    
}
h2
{

text-align: center;
font-size: 30px;
width:300px;
color:black;
border-style: groove;
font-family:kavoon;
padding: 30px;
margin:auto;
border-radius:25px;
background-color:rgb(169,169,169);
}



.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  font-family: Shojumaru;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color:rgb(169,169,169); 
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin:auto;
}

.button:hover {background-color: silver}

.button:active {
  background-color: silver;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
p{
	 font-family: kavoon;
color: silver;
font-size:35px;
text-align: center;
}

h1{font-family:Shojumaru;
text-align: center;
font-size: 80px;
color:black;
border-style: groove;
border:3px solid white;
width:55%;  
margin:auto;
background-color:rgb(169,169,169);
}


p{
	border-style: groove;
border width: 5px;
color:black;
background-color:rgb(169,169,169);
}
a{
	text-decoration: none;
}


h3
{
	text-align:right;
	font-family: Shojumaru;
	text-decoration: none;
}

.back{
background-color: royalblue;
	background-image: url("kre.jpg");

    position:absolute; 

  
}


h3{
  font-family: Shojumaru;
}
	</style>
<body class="back" style="z-index:-1;">
					<div class="container">
   <div class="row">
      <div class="neons col-12">
         <h3><a href="http://localhost:5000/">TECHOTSAV</a></h3>
      </div>
   </div>
</div>



	<br>
	<br>

<h1>
KBC
</h1>


<div class="news">
<p>

    Kaun banega Crorepati format adapted for IIITM. <br>> There are 3 rounds. There will be a first written round through which we select ppl to go to the kbc finals. For the second round, we choose one participant from the selected ones to go for the third round, which is the typical kbc ques ans format. Round 2 and 3 are repeated. 
    For Round 2, we make use buzzers, or we may use instagram or other such apps where ques can be put up and we can see who answered the question first. 
     </p>
    
    


</div>
<br>
<br>

<h2>
PRIZE MONEY:12,000/-</h2>

<p>RULES<br>
   1.)There are 10 ques from level 1 to level 10 with level 1 being the easiest and level 10 being thr hardest. For each question the  contestant answers correctly the question of the above level is unlocked and they win a certain amount of money. 
    For eaxh question, they can utilise lifelines in case they dont know the answer<br>
2.)If all lifelines have been exhausted, they can quit the game and get the earnings eaened till that point.<br>
3.)If they answer any question wrong, they fall back to amount of the last passed assured level<br>
</p>


<div class="query">
    <h2>
        CONTACT DETAILS
        <br>
        ANUNAY:7997902355
        <br>
        RAHUL:8985715409
        
    </h2>
</div>


<form action="/register" method="post">
  <div style="display:none;">
    <input type="text" name="event" value="KBC" />
    </div>
<button    class="button" style="vertical-align:middle;left:85%;">REGISTER HERE!</a></button>
</form>



<form action="/cancelregister" method="post">
  <div style="display:none;">
    <input type="text" name="event" value="KBC" />
    </div>
<button   class="button" style="vertical-align:middle;left:85%;">CANCEL REGISTRATION</a></button>
</form>




<a href="https://www.linkedin.com/company/aurora-iiitm-gwalior/" class="fa fa-linkedin"style="z-index=2"></a>
<a href="https://www.youtube.com/channel/UCQmbFlStfjsCRkaBvy_jPMg" class="fa fa-youtube"style="z-index=2"></a>
<a href="https://www.instagram.com/aurora_iiitm/" class="fa fa-instagram"style="z-index=2"></a>

<a href="https://www.facebook.com/auroraiiitm/" class="fa fa-facebook "style="left:85%;"></a>

</body>


</html>

  