<!DOCTYPE html>
<html>
<title>W3.CSS</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css"> 

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kavoon&display=swap');


@import url('https://fonts.googleapis.com/css?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');




#particles-js {
  background-color:black;
   
    position: fixed;
    z-index: -1;
    width: 100%;
    height:100%;
   
 
    top: 0;
    left: 0;
}

.we-ul{

float:center; width: 20%;
}


a{

text-decoration: none;


}
a:hover
{

  opacity: 0.7;
}


h1{
  font-size: 100px;
  text-align: center;
  color:white;
}
 
.fa{
  float:center;
  border: 3px solid black;
  text-align: center;
  left:50px;
  background-color: rgb(169,169,169);
}

.fa:hover{
  opacity:0.9;
}

h1{
font-family: Shojumaru;
}



@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.neons h1{
   margin-top: 10rem;
   text-align: center;
}



.neons h3 {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  font-color:white;
   font-weight: bold;
  -webkit-animation: example 2s ease-in-out infinite alternate;
  -moz-animation: example 2s ease-in-out infinite alternate;
  animation: example 2s ease-in-out infinite alternate;
font-family:Shojumaru;
}

.neons h1 {
  font-size: 120px;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: black ;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  /*text-shadow:0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 1 90px #ff0000;*/}
  to {
     color:#b7b7b7;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  /* text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 1 90px #ff0000;*/
  }
}

  </style>





<body>

  <div id="particles-js">
  </div>
  <script type="text/javascript" src="js/particles.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  
  <div class="content">

<hr>

<hr>
<br>
  <h1>LOGGED-OUT SUCCESFULLY</h1>

<br><br>
  <ul class="w3-ul">
    <div>
  <i class="fa fa-home" style="font-size:80px;"><a href="https://stark-ridge-31421.herokuapp.com">REDIRECT TO HOME-PAGE</a></i>
    </a></li>
</div>  </ul>
</div>
</body>
</html> 
