<HTML>


    <head>
    </head>
    
    <style>
        
    
        .f
        {
            background-image:url("registermeme.jpg");
    
            background-position: center; 
            background-repeat: no-repeat;
            background-size:40%;
            background-color:rgb(169,169,169);
        }
    </style>
    
    <body class="f">
    
    
    
    
    </body>
    
    </HTML>