<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style >
		
		#particles-js{
			background-color: black;
			margin:0;
		}
	</style>
</head>
<body>
<div id="particles-js">
</div>
<script type="text/javascript" src="js/particles.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>